<div class="row m-1">
  <div class="col-md-12">
    <h3 class="text-decoration-underline mx-3">{{ activityPeriod }}</h3>
    <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="input-group input-group-lg">
            <span class="input-group-text" style="width: 15%">Activity</span>
            <select
              class="form-select"
              formControlName="activityType"
              name="activityType"
              id="activityType"
              #optionInput
            >
              <option
                *ngFor="let activityOption of activityOptions | enumToArray"
                [ngValue]="activityOption"
              >
                {{ activityOption }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-xs-12">
          <div class="input-group input-group-lg">
            <span class="input-group-text" style="width: 15%">From</span>
            <input
              type="time"
              class="form-control"
              name="fromTime"
              id="fromTime"
              formControlName="fromTime"
            />
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-xs-12">
          <div class="input-group input-group-lg">
            <span class="input-group-text" style="width: 15%">To</span>
            <input
              type="time"
              class="form-control"
              name="toTime"
              id="toTime"
              formControlName="toTime"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div
            class="alert-warning alert py-1 mt-2 mb-0"
            *ngIf="
              activityForm.invalid &&
              (activityForm.touched || activityForm.dirty)
            "
          >
            <div *ngIf="activityForm.errors?.['invalidTime']">
              "From" time needs to be before "To" time. <br />Select "No
              Activity" to reset the form.
            </div>
            <div
              *ngIf="activityForm.errors?.['timeRequiredIfActivity']
              "
            >
              Both "From" and "To" times are required if a Activity has been
              selected. <br />Select "No Activity" to reset the form.
            </div>
            <div *ngIf="activityForm.errors?.['noActivityWithTime']">
              "No Activity" cannot be selected with a time.
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
