<div class="row m-1">
  <div class="col-md-12">
    <h3 class="text-decoration-underline mx-3">{{ activityPeriod }}</h3>
    <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="activityType" class="form-label">Activity</label>
            <select
              class="form-select"
              formControlName="activityType"
              name="activityType"
              id="activityType"
            >
              <option
                *ngFor="let activityOption of activityOptions | enumToArray"
                [ngValue]="activityOption"
              >
                {{ activityOption }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="fromTime" class="form-label">From</label>
            <input
              type="time"
              class="form-control"
              name="fromTime"
              id="fromTime"
              formControlName="fromTime"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="toTime" class="form-label">From</label>
            <input
              type="time"
              class="form-control"
              name="toTime"
              id="toTime"
              formControlName="toTime"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="!activityForm.valid && activityForm.touched">
            <sup>*</sup>Please provide city name
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
